@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.App {
    background-color: #01AFC8;
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
}

.App button.toggle {
    position: absolute;
    top: 0;
}

.all-characters,
.all-locations {
    padding: 0 10px;
}

.toggle {
    padding: 0px;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    border: none;
}

.toggle img{
    max-width: 32px;
}

.App h1 {
    text-align: center;
    color: white;
}

.characters,
.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.character,
.location {
    background-color: #F8EC72;
    margin: 10px;
    border-radius: 18px;
    max-width: 300px;
}

.location {
    padding: 5px;
    width: 100%;
}

.character img {
    width: 100%;
}

.info {
    padding: 5px 15px;
    text-align: left;
    color: black;
    font-weight: 700;
}

.info p {
    margin-bottom: 10px;
    line-height: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.buttons button {
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #F8EC72;
    color: black;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px;
    border-radius: 8px;
    border: none;
}

.buttons button:hover {
    filter: brightness(80%);
}